<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <!-- 
   [마이바티스] 스프링에서 "_"를 사용한 컬럼명을 사용 시(BOOK 테이블의 BOOK_ID)
   카멜케이스로 읽어줌(bookId)
   ex) 테이블 컬러명이 member_id인 경우 jsp화면단에서 이 값을 사용 시 memberId로 사용
   -->
   <settings>
      <setting name="mapUnderscoreToCamelCase" value="true"/>
   </settings>
   <!-- 자주 사용하는 타입의 별칭을 세팅 -->
   <typeAliases>
   	<typeAlias type="kr.or.ddit.vo.BookVO" alias="bookVO"/>
   	<typeAlias type="kr.or.ddit.vo.EmployeeVO" alias="employeeVO"/>
   	<typeAlias type="kr.or.ddit.vo.LprodVO" alias="lprodVO"/>
   	<typeAlias type="kr.or.ddit.vo.ProjectAddVO" alias="ProjectAddVO"/>
   	<typeAlias type="kr.or.ddit.vo.CustomerVO" alias="customerVO"/>
   	<typeAlias type="kr.or.ddit.vo.ContUsVO" alias="contUsVO"/>
   	<typeAlias type="kr.or.ddit.vo.MemberVO" alias="memberVO"/>
   	<typeAlias type="kr.or.ddit.vo.Address" alias="address"/>
   	<typeAlias type="kr.or.ddit.vo.Card" alias="card"/>
   	<typeAlias type="kr.or.ddit.vo.ProfileVO" alias="profileVO"/>
   	<typeAlias type="kr.or.ddit.vo.Activity" alias="activity"/>
   	<typeAlias type="kr.or.ddit.vo.ProductVO" alias="productVO"/>
   	<typeAlias type="kr.or.ddit.vo.License" alias="license"/>
   	<typeAlias type="kr.or.ddit.vo.AttachVO" alias="attachVO"/>
   	<typeAlias type="kr.or.ddit.vo.Setting" alias="setting"/>
   	<typeAlias type="kr.or.ddit.vo.ComCodeVO" alias="comCodeVO"/>
   	<typeAlias type="kr.or.ddit.vo.ComCodeDetailVO" alias="comCodeDetailVO"/>
   	<typeAlias type="kr.or.ddit.vo.EmployeeAuthVO" alias="employeeAuthVO"/>
   	<typeAlias type="kr.or.ddit.vo.MemberAuthVO" alias="memberAuthVO"/>
   	<typeAlias type="kr.or.ddit.vo.ComCodeInfoVO" alias="comCodeInfoVO"/>
   	<typeAlias type="kr.or.ddit.vo.ComDetCodeInfoVO" alias="comDetCodeInfoVO"/>
   </typeAliases>
</configuration>






